@import 'config';

body{
    background: $preto;
    margin-top: 10px;
    p{
        font-size: 10px;
    }
    
}

@media #{$tablet} {
    body{
        background: $laranja;
    }
}

@include breakpoint('mobile'){
    body{
        background: red;
    }
} 

nav{
    h3{
        a{
            &:after{
                @include arrow-generate('right',10px, 2px, $branco)
            }
        }
    }
}