/* Content copied from "checkout5-custom.css" at 2019-01-23T16:56:10.721Z */

/* Content copied from "checkout-custom.css" at 2017-03-13T12:21:26.149Z */

/* /files/checkout-custom.css */

.shp-pickup-receiver{
    display: block;
}
html{
    background: purple;
}