@mixin hidden-heading {
    font-size : 0;
    width     : 1px;
    height    : 1px;
    display   : inline-block;
    overflow  : hidden;
    position  : absolute !important;
    border    : 0 !important;
    padding   : 0 !important;
    margin    : 0 !important;
    clip      : rect(1px 1px 1px 1px);
    clip      : rect(1px, 1px, 1px, 1px);
}
//font weight
 @mixin font-weight($weight) {
    $output: $weight;
    @if map-has-key($weights, $weight) {
        $output: map-get($weights, $weight);
    }
    font-weight: $output;
}
// truncate string
@mixin ellipsis ($lines, $height){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    height: $height;
}
// fixed container 
@mixin container-fixed {
    width        : 100%;
    max-width    : 1132px; // maximo de largura
    margin-left  : auto;
    margin-right : auto;
    @include rem(padding-left, 16px);
    @include rem(padding-right, 16px);
    @include breakpoint('mobile') {
        max-width: 100%;
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
    }
}
// fluid container 
@mixin container-fluid {
    width        : 100%;
    max-width    : 92%;
    margin-left  : auto;
    margin-right : auto;
    @include breakpoint('mobile') {
        max-width: 90%;
    }
}
// display conditions
    //hide text
    @mixin hide-text {
        font-size   : 0;
        line-height : 0;
        color       : transparent;
    }
    // show
    @mixin show {
        opacity    : 1;
        visibility : visible;
    }
    // hide
    @mixin hide {
        opacity    : 0;
        visibility : hidden;
        height     : 0;
        width      : 0;
    }
        //force show
        @mixin force-show {
            display: block !important;
        }
        //force hide
        @mixin force-hide {
            display: none !important;
        }
            // fade when active
            @mixin when-active {
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
                z-index: -1;
                &.is--active {
                    opacity: 1;
                    visibility: visible;
                    will-change: opacity;
                    z-index: 1;
                }
            }
//-------------------------------
//style tricks
    //disabled effect  (use with class ou attribute ex "is--disabled" or :disabled )
    @mixin disabled {
        opacity: .25;
        cursor: not-allowed;
    }
    // placeholder color 
    @mixin placeholder($color, $opacity) {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $color;
            opacity: $opacity;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $color;
            opacity: $opacity;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $color;
            opacity: $opacity;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $color;
            opacity: $opacity;
        }
    }
    //scrollbar collor
    @mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
        &::-webkit-scrollbar {
            width:  $size;
            height: $size;
        }
        &::-webkit-scrollbar-thumb {
            background: $primary;
        }
        &::-webkit-scrollbar-track {
            background: $secondary;
        }
        // For Internet Explorer
        body & {
            scrollbar-face-color: $primary;
            scrollbar-track-color: $secondary;
        }
    }
    // pseudo arrow use with pseudo element :after or :before
    //  set @include arrow-generate(position, width and height, trickness)
    @mixin arrow-generate($position: up, $arrow-width: width, $arrow-size: size, $color: color) {
        $pos: -45deg;
        @if $position == up {
            $pos: $pos;
        } @elseif $position == right {
            $pos: 45deg;
        } @elseif $position == down {
            $pos: 135deg;
        } @elseif $position == left {
            $pos: -135deg;
        } @else {
            //
        }
        content: '';
        display: inline-block;
        width: $arrow-width;
        height: $arrow-width;
        border-top: $arrow-size solid $color;
        border-right: $arrow-size solid $color;
        transform: rotate($pos);
    }
    // triangle 
    // set @include triangle(direction,size,color)
    @mixin triangle($direction, $size: size, $color: color){
        content: '';
        display: block;
        position: absolute;
        height: 0; width: 0;
        @if ( $direction == 'up' ) {
            border-bottom: $size solid $color;
            border-left: 1/2*$size solid transparent;
            border-right: 1/2*$size solid transparent;
        }
        @else if ( $direction == 'down' ) {
            border-top: $size solid $color;
            border-left: 1/2*$size solid transparent;
            border-right: 1/2*$size solid transparent;
        }
        @else if ( $direction == 'left' ) {
            border-top: 1/2*$size solid transparent;
            border-bottom: 1/2*$size solid transparent;
            border-right: $size solid $color;
        }
        @else if ( $direction == 'right' ) {
            border-top: 1/2*$size solid transparent;
            border-bottom: 1/2*$size solid transparent;
            border-left: $size solid $color;
        }
    }
    //tooltip
    @mixin tooltip($content: attr(data-tooltip), $direction: top) {
        position: relative;
        &:before,
        &:after {
            display: none;
            z-index: 98;
        }
        &:hover {
            &:after { // for text bubble
                content: $content;
                display: block;
                position: absolute;
                height: 12px; // (makes total height including padding 22px)
                padding: 6px;
                font-size: 12px;
                white-space: nowrap;
                color: #fff;
                text-shadow: 1px 1px #000;
                background-color: #222;
            }
            @if ( $direction == 'top' ) {
                &:before {
                    @include triangle(down, 6px, #222);
                    top: -6px; margin-top: 0;
                    left: 47%;
                }
                &:after {
                    top: -28px;
                    left: 47%; margin-left: -20px;
                }
            }
            @else if ( $direction == 'bottom' ) {
                &:before {
                    @include triangle(up, 6px, #222);
                    top: auto; margin-top: 0;
                    bottom: -6px;
                    left: 47%;
                }
                &:after {
                    bottom: -28px;
                    left: 47%; margin-left: -20px;
                }
            }
        }
    }